name: CI-CD Deploy Petclinic

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: petclinic-478815
  REGION_EU: europe-west1
  REGION_US: us-central1
  AR_REPO: petclinic
  IMAGE_NAME: petclinic
  DOMAIN_NAME: petclinic.oju.app

jobs:
  build-and-push:
    name: Build & Push Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker ${{ env.REGION_EU }}-docker.pkg.dev --quiet

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME .

      - name: Tag Docker Image
        run: |
          IMAGE_URI="${REGION_EU}-docker.pkg.dev/${PROJECT_ID}/${AR_REPO}/${IMAGE_NAME}:${GITHUB_SHA}"
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          docker tag $IMAGE_NAME $IMAGE_URI

      - name: Push Docker Image
        run: |
          docker push "$IMAGE_URI"

  terraform-deploy:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init -upgrade

      - name: Generate auto.tfvars for Image
        run: |
          echo 'image = "'$IMAGE_URI'"' > terraform.auto.tfvars

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve
